@font-face {
    font-family: "BluuNext";
    src: url("/fonts/BluuNext-Bold.otf") format('embedded-opentype'), /* Internet Explorer */
         url("/fonts/BluuNext-Bold.otf") format('woff2'),             /* Super Modern Browsers */
         url("/fonts/BluuNext-Bold.otf") format('woff'),              /* Pretty Modern Browsers */
         url("/fonts/BluuNext-Bold.otf") format('truetype'),          /* Safari, Android, iOS */
         url("/fonts/BluuNext-Bold.otf") format('svg');               /* Legacy iOS */
}
@font-face {
    font-family: "Dinish";
    src: url("/fonts/Dinish-Regular.otf") format('embedded-opentype'), /* Internet Explorer */
         url("/fonts/Dinish-Regular.otf") format('woff2'),             /* Super Modern Browsers */
         url("/fonts/Dinish-Regular.otf") format('woff'),              /* Pretty Modern Browsers */
         url("/fonts/Dinish-Regular.otf") format('truetype'),          /* Safari, Android, iOS */
         url("/fonts/Dinish-Regular.otf") format('svg');               /* Legacy iOS */
}


$color1: rgb(255, 248, 229);
$color2: rgb(253, 253, 253);
$linkcolor: rgb(50, 85, 180);

* {
    margin: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8vh;
  scroll-padding-top: 60px;
}

body {
    background-color: $color1;
    min-height: 100vh;
    max-width: 100vw;

    overflow-x: hidden;
}

.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.header {
    z-index: 15;
    background-color: $color2;
    height: 8vh;
    height: 60px;
    
    // border-bottom: solid black 1px;
    // background-color: aqua;
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(12,1fr);

    width: 100vw;

    position: sticky;
    top: 0;

    // border-bottom: solid 1px rgb(0, 0, 0);
}

#grad_hr {
  height: 1px;
  // background-image: linear-gradient(90deg, 
  // black, black 6px, transparent 649px);

  // width: 100vw;
  position: absolute;
  left: 0px;
  top: 8vh;
  top: 60px;
  background-color: rgb(0, 0, 0);

  transition-duration: 400ms ;

  transform-origin: left;
  transition-timing-function: ease-in-out;
}

#right_hr {
  position: absolute;
  top: 8vh;
  top: 60px;
  right: 0px;
  width: 190px;

  height: 1px;
  background-color: rgb(0, 0, 0);
  z-index: 30;

  transform-origin: right;
  transform-style: flat;
}

.header a {
    grid-row: 1;
    color: black;
    font-family: dinish;
    font-size: 12pt;
    border-right: solid 1px rgb(0, 0, 0);
    // border-bottom: solid 1px rgb(0, 0, 0);

    text-align: center;
    text-decoration: none;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    // transition-delay: 350ms;
}

.header a:last-of-type {
    border-right: none;
    border-right: solid 1px $color2;
}

.header a:last-of-type:hover{
  border-right: solid 1px rgb(0, 0, 0);
}

.header a:hover {
    border-bottom: solid 1px $color1;
    background-color: $color1;
    z-index: 10;
  }

.active {
  border-bottom: solid 1px $color1;
  background-color: $color1;
  border-right: solid 1px black;
  z-index: 10;
}

#section {
  font-family: BluuNext;
  font-size: 60pt;
  // font-size: 5vw;
  text-align: right;
  position: absolute;
  top: 8px;
  right: 200px;
  z-index: 20;
  transition-duration: 300ms;
}

.hide{
  transform: translateY(-150%);
  opacity: 0;
  transform-origin: right;
}

.footer {
    // grid-row: 4;
    grid-column: 1/13;
    background-color: $color2;

    position: relative;
    bottom: 0;
    color: black;
    font-family: dinish;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: solid 1px rgb(0, 0, 0);

    padding: 10px 0 10px 0;
    height: 20px;
}

.main {
  grid-column: 1/13;
  height: calc(100vh - 60px);

  display: grid;
  grid-template-columns: repeat(12,1fr);
}

#landing_main {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto;
  // background-color: azure;
}

#vincent {
  grid-column: 2/12;
  font-family: BluuNext;
  font-size: 10.9vw;
  // text-align: right;

  white-space: nowrap;
  overflow: hidden;

  vertical-align: baseline;
  padding-top: 1rem;
}

#fs {
  font-family: Dinish;
  font-variant: small-caps;
  line-height: 0.55;
  font-size: 11vw;
  text-align: right;

  padding-bottom: 2rem;
  grid-column: 2/12;
  grid-row: 2;
  align-self: last baseline;
}

#arrow {
  // background-color: aqua;
  grid-column: 2/6;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  width: 70%;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

#arrow svg {
  // background-color: red;
  margin: auto;
}

#arrow:hover{
  transform: translateY(10%);
}

#carrousel_main {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    align-items: center;
    column-gap: 10px;
}



.projectsection {
  scroll-padding-top: -50px;
  grid-column: 10/13;
  // grid-row: 2/3;
  overflow-y: hidden;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.projectsection::-webkit-scrollbar { //chrome opera safari
  display: none;
}

.projectdiv {
  padding: 0 40px 0 5px;
  // background-color: aqua;
  overflow-y: scroll;
  // margin-bottom: 10px;
}

.projectdiv::-webkit-scrollbar { //chrome opera safari
  display: none;
}

.projectdiv h2 {
    font-family: BluuNext;
    font-size: 25pt;
    margin-bottom: 1rem;
}

.projectdiv p {
    font-family: dinish;
    font-size: 12pt;
    text-align: justify;


    overflow-y: hidden
}

.projectlinks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.projectlinks a {
  color: $linkcolor;
  text-decoration: none;
  font-family: dinish;
}

img {
    display: block;
    max-width: 100%;
  }
  
#gallery {
  scroll-behavior: smooth;
  overflow: hidden;
  // scroll-snap-type: x mandatory;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
//   height: 540px;
  width: 100%;
  grid-column: 4/10;
  // border: solid 1px black;
}

.gallery::-webkit-scrollbar { //chrome opera safari
  display: none;
}

.gallery__img {
  // scroll-snap-align: start;
  margin-bottom: 10px;
  object-fit: cover;
  width: 100%;
  overflow-y: hidden;

  // height: auto;
  max-height: 100%;
  aspect-ratio: 1.75925;
}

.lil-nav {
  justify-self: center;
  overflow-y: scroll;
  overflow-x: hidden;

  grid-column: 2/4;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  // background-image: linear-gradient(rgba(255, 255, 255, 0.5), transparent 20%, transparent 80%, rgba(0, 0, 0, 0.6));
}

.lil-nav::-webkit-scrollbar { //chrome opera safari
  display: none;
}

.lil-nav a {
  display: flex;
  margin-bottom: 10px;
  // margin-right: 10px;
}

.lil-nav a:last-child {
    margin-bottom: 0px;
}

.lil-nav__img {
  object-fit: cover;
  transition: 0.3s ease all;
  z-index: -10;
}

.lil-nav__img:hover {
  transform: scale(1.02);
  z-index: 0;
}

#my_photo {
  grid-row: 1;
  grid-column: 9/13;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  margin-top: 6em;
  overflow: hidden;

  img {
    object-fit: cover;
    height: 70vh;
    // transform: translate(0px, -50px);
  }
}

#about_me::-webkit-scrollbar { //chrome opera safari
  display: none;
}

#about_me {
  grid-row: 1;
  grid-column: 2/8;
  // background-color: green;
  height: 70vh;
  margin-top: 5em;
  display: grid;
  // grid-template-columns: repeat(6, 1fr);
  align-content: space-between;
  padding-top: 1em;

  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  .subtitle {
    font-weight: bold;
    font-size: 48pt;
    font-family: BluuNext;
  }

  p {
    font-family: dinish;
    font-size: 14pt;
    line-height: 18pt;
  }

  #intro {
    text-align: left;
    grid-column: 1/6;
    margin-bottom: 2em;
  }

  #work {
    text-align: right;
    grid-column: 2/7;
    margin-bottom: 2em;
  }

  #contact {
    text-align: left;
    grid-column: 1/6;
  }

  #contact a {
    color: $linkcolor;
    text-decoration: none;
  }

    span {
      font-weight: bold;
    }
    #bob {
      font-weight: 500;
      font-style: italic;
    }
}

#about_main {
  height: calc(100vh - 100px);
  gap: 10px;
}

.mobile_container {
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 20px;

  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  .container {
    display: none;
  }

  .mobile_container {
    display: flex;
    p {
      font-size: 16pt;
    }
  }

  .main {
    width: 100vw;
    overflow: hidden;
  }

  #section {
  width: 100vw ;
  font-size: 40pt;
  top: 20px;
  font-family: BluuNext;
  text-align: center;
  position: absolute;
  right: auto;
  // background-color: red;
}

.header a {
  display: none;
}

#right_hr {
  width: 0px;
}

}